//--------------------------------------------------Variables--------------------------------------------------
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #222222 !default;
$black: #000 !default;
$primary: #E01734 !default;



//--------------------------------------------------Font Mixins--------------------------------------------------
@mixin serif-font {
    font-family: 'Bitter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}



@mixin body-font {
    font-family: 'Bitter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@mixin heading-font {
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}



//--------------------------------------------------Global styling for this template--------------------------------------------------
body {
    overflow-x: hidden;
    @include heading-font;

    &.overflown {
      overflow: hidden;
    }
}

p {
    line-height: 1.75;
}

a {
    color: white;

    &:hover {
        color: darken($primary, 10%);
    }
}

.text-primary {
    color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    @include body-font;
}

section {
    padding: 3rem 0;

    h2.section-heading {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px;
        font-family: Bitter;
    }

    h3.section-subheading {
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 75px;
        text-transform: none;
        @include serif-font;
    }
}

// Button Styles
.btn {
  box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.2);
    @include heading-font;
    font-weight: 700;
}

.btn-xl {
    font-size: 18px;
    padding: 20px 40px;
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
    color: white;

    &:active,
    &:focus,
    &:hover {
        background-color: darken($primary, 7.5%) !important;
        border-color: darken($primary, 7.5%) !important;

    }

    &:active,
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, .5) !important;
    }
}

//#sendMessageButton a {color: white;}
//#sendMessageButton {margin-top: 3rem;}
// Highlight color customization
::-moz-selection {
    background: $primary;
    text-shadow: none;
}

::selection {
    background: $primary;
    text-shadow: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}



//--------------------------------------------------Styling for the navbar--------------------------------------------------
.burger-line1.change {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.burger-line2.change {
    opacity: 0;
}

.burger-line3.change {
    -webkit-transform: rotate(45deg) translate(-9px, -6px);
    transform: rotate(45deg) translate(-4px, -2px);
}

#mainNav {
    background-color: $gray-100;
    .burger-menu {
        display: inline-block;
        grid-template-rows: 1fr 1fr 1fr;
    }


    .burger-line1,
    .burger-line2,
    .burger-line3 {
        height: 3px;
        width: 25px;
        background-color: $gray-900;
        margin: 4px 0;
        border-radius: 1px;
        transition: 0.5s all;
    }


    .navbar-toggler {
        font-size: 30px;
        right: 0;
        padding: 13px;
        text-transform: uppercase;
        color: black;
        border: 0;
        @include heading-font;
    }

    .navbar-brand {
        color: $gray-900;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        @include body-font;



        .navbar-logo {
            width: 50px;
        }

        p {
            margin-bottom: 0;
        }
    }

    .navbar-nav {
        height: 100vh;

        .nav-item {
            text-align: center;
            .btn{
              font-size: 150%;
              margin: 1em;

            }
            .nav-link {

                font-size: 150%;
                font-weight: 400;
                padding: 1em 0;
                letter-spacing: 1px;
                color: black;
                @include heading-font;

                &.active {
                    color: $primary;
                }
            }
        }
    }

    .btn-outline-primary {
        border-color: $primary;
        color: white;
        font-weight: 400;
        background-color: $primary;

    }

    .btn-outline-primary:hover {
        background-color: white;
        color: black;

    }

    .btn-outline-primary.active {
        background-color: white;
        color: black;
    }
}

@media(min-width:992px) {
    #mainNav {
        padding-top: 10px;
        padding-bottom: 10px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: white;

        .navbar-brand {

            font-size: 2em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;

            .navbar-logo {
                width: 70px;
            }
        }

        &.navbar-shrink {
            padding-top: 0px;
            padding-bottom: 0px;
            background-color: $gray-100;
            box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.1);



        }

        .navbar-nav {
          height:auto;
            margin-left: 0 !important;
            width: 100%;
            justify-content: space-evenly;

            .nav-item {
              align-self: center;
                &.support {}

                .nav-link {

                    font-size: 1.5em;
                    position: relative;
                    padding: .1rem !important;
                }

                .nav-link:after {
                    transition: all 0.25s;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 0%;
                    height: 0%;
                    content: '.';
                    color: transparent;
                    background: $primary;
                    height: 5px;
                }

                .nav-link:hover:after {
                    width: 100%;
                }
            }




        }



    }

}




//--------------------------------------------------Styling for the masthead--------------------------------------------------
header.masthead {
    height: 80vh;

    color: white;

    background-repeat: repeat;
    background-attachment: scroll;
    background-size: 30%;
    background-position: center;
    background-color: $primary;

    .container {

        height: 100%;
        margin-top: 75px;
        display: grid;
        align-content: center;


        .intro-text {
            height: 100%;
            text-align: center;
            align-items: center;

            .intro-image {
                max-width: 300px;

            }



            .intro-lead-in {
                font-size: 22px;
                text-transform: uppercase;
                line-height: 22px;
                margin-bottom: 25px;
                @include heading-font;
            }

            .intro-heading {
                font-size: 50px;
                font-weight: 500;
                line-height: 50px;
                @include body-font;
            }
        }
    }
}


@media(min-width:768px) {
    header.masthead {
        .container {
            margin-top: 75px;


            .intro-text {
              display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 1fr 1fr;

                .intro-logo {
                    justify-self: end;

                }

                .intro-lead-in {
                    font-size: 2em;
                    justify-self:start;
                    text-align: left;

                    margin-bottom: 0;
                    @include heading-font;
                }

                .intro-heading {
                    font-size: 4em;
                    text-align: left;

                    line-height: 75px;
                    @include body-font;
                }

            }
        }
    }
}



//--------------------------------------------------Styling for the calendar section--------------------------------------------------
.service-heading {
    margin: 15px 0;
    text-transform: none;
}

#services {
    width: 33%;
}





//--------------------------------------------------Styling for the news section--------------------------------------------------
#posts {
    .article {
        display: grid;
        grid-template-rows: auto 1fr 1fr;
        grid-template-columns: 1fr;
        justify-content: center;

        h2 {
            padding: 1rem 0;
        }
    }

    .line {
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, .3)
    }


}

@media(min-width:767px) {
  #posts{
  .article{
    grid-template-columns: 1fr 1fr;
}
}
}

//--------------------------------------------------Styling for the instafeed--------------------------------------------------
.instafeed {

  .btn{
    margin: 1em 0;
  }


    .instafeed__images {
        display: grid;
        grid-template-columns: 1fr ;
        grid-gap: 1rem;
        div {
            width: 300px;
            height: 300px;
            background-size: cover;
            justify-self: center;

            img {
                width: 30px;
                height: 30px;
                align-self: center;
            }
        }
    }
}
@media(min-width:767px) {
.instafeed{
    .instafeed__images{
    grid-template-columns: 1fr 1fr 1fr;
}
}
}

//--------------------------------------------------Styling for the contact section--------------------------------------------------
#contact {
    background-color: $gray-100;





}
@media(min-width:767px) {
#contact{
  h3 {
      margin-bottom: 3rem;
      font-size: 2.5rem;
    }
  .container {
      width: 70%;
  }

}
}







// Styling for the footer
footer {
    padding: 0;
    text-align: center;
    .ladiesinred {
        width: 100vw;
    }
    /*.footercontainer {padding: 0;
margin: 0;} */
    .footerimg {
        background-image: url('../img/ladiesinred.png');
        background-position: center bottom;
        background-size: cover;
        height: 120px;
    }

    span.copyright {
        font-size: 90%;
        line-height: 40px;
        text-align: center;

        @include heading-font;
    }
    .footertext {
        justify-content: center;
        padding-top: 0.5rem;


    }

    ul.quicklinks {
        font-size: 90%;
        line-height: 40px;
        margin-bottom: 0;
        text-transform: none;
        @include heading-font;
    }
}

ul.social-buttons {
    margin-bottom: 0;

    li {
        a {
            font-size: 20px;
            line-height: 50px;
            display: block;
            width: 50px;
            height: 50px;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            color: white;
            border-radius: 100%;
            outline: none;
            background-color: $gray-900;

            &:active,
            &:focus,
            &:hover {
                background-color: $primary;
            }
        }
    }
}



//about section------------------------------
header.masthead-about {
    height: 80vh;
    color: white;
    background-color: $primary;

    .container {
        height: 100%;
        margin-top: 75px;
        display: grid;
        align-content: center;

        .intro-heading {
            align-items: center;
            font-size: 50px;
            font-weight: 500;
            line-height: 50px;
            h1 {
                @include heading-font;
                font-weight: 700;
            }
        }
    }
}

#about1 {
    .section-heading {
        margin-bottom: 1em;
    }
    .card {
        margin: 1em 0;
    }
    h1 {
        font-size: 2rem;
        padding: 0  0 3rem 0;

    }
}



@media(min-width:768px) {

    header.masthead-about {


        .container {

            .intro-heading {

                grid-template-rows: 1fr;
                grid-template-columns: 50% 50%;
                font-size: 4em;
                line-height: 75px;
                h1 {



                    @include heading-font;
                }
            }

        }
    }
    #about1,
    #support {



        h1 {
            margin: 4rem 0;
            font-size: 2.5rem;
        }
        .container {
            width: 70%;
        }
        h3 {

            font-size: 2.5rem;


        }
        .card {}
    }

}
