<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Patria jest organizacją publiczną typu non-profit. Naszą misją jest promowanie polskiej kultury ludowej i pielęgnowanie naszego dziedzictwa.">
    <meta name="author" content="Patria">
    <meta property="og:title" content="Patria - Stowarzyszenie Kultury i Folkloru">
    <meta property="og:url" content="http://skif-patria.pl/"/>
    <meta property="og:image" content="img/ogpatria.png"/>
    <meta property="og:site_name" content="Patria"/>
    <meta property="og:description" content="Patria jest organizacją publiczną typu non-profit. Naszą misją jest promowanie polskiej kultury ludowej i pielęgnowanie naszego dziedzictwa."/>
    <title>Archiwum Nowości | Patria - Stowarzyszenie Kultury i Folkloru</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Bitter:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="scss/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/logos/logo.png">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>

<body id="page-top">
    <div id="page">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand link--redirect" href="index.html"><img class="navbar-logo" src="img/logos/logo.png" alt=""><p>PATRIA</p></a>
            <section class="navbar--right-part">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <div class="burger-menu">
      
                  <div class="burger-line1"></div>
                  <div class="burger-line2"></div>
                  <div class="burger-line3"></div>
                  </div>
                </button>
                <img src="img/uk.png" alt="UK flag" class="lang-switch" @click="changeLang()" v-if="lang==='pl'">
                <img src="img/pl.png" alt="Poland flag" class="lang-switch" @click="changeLang()" v-else>
            </section>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link link--scroll" href="index.html" el="calendar">{{ langSwitch('nav_item_events') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link visited link--redirect" href="archive.html">{{ langSwitch('nav_item_news') }}</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link link--redirect" href="about.html">{{ langSwitch('nav_item_about') }}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link link--scroll" href="about.html" el="contact">{{ langSwitch('nav_item_contact') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-primary btn-sm link--scroll support" href="about.html" el="support">{{ langSwitch('nav_item_support') }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <img src="img/uk.png" alt="UK flag" class="lang-switch-desk" @click="changeLang()" v-if="lang==='pl'">
        <img src="img/pl.png" alt="Poland flag" class="lang-switch-desk" @click="changeLang()" v-else>
    </nav>

    <!-- Header -->



    <header class="masthead-news">
        <div class="container">

            <div class="intro-heading text-uppercase">
                <h1>{{ langSwitch('archive_header_heading') }}</h1>
            </div>
        </div>




    </header>





    <section id="archive">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                    <div class="archive-container"></div>
                </div>
            </div>
        </div>
    </section>








    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="footer-text">
                <div>
                    <p class="text-bolder">Stowarzyszenie Kultury i Folkloru Patria</p>
                    <p>Bankowa 12</p>
                    <p>40-007, Katowice</p>
                </div>
                <a href="mailto:skif_patria@wp.pl"><img src="img/mail.svg"> skif_patria@wp.pl</a>
                <a href="https://www.instagram.com/skif_patria/" target="_blank"><img src="img/instagram-logo.svg"> @skif_patria</a>
                <a href="tel:‭+48-790-844-841"> <img src="img/phone.svg">‭+48 790 844 841‬‬</a>

                <div>
                    <a class="btn btn-outline-primary btn-sm btn-footer" href="about.html#support">{{ langSwitch('footer_button_support') }}</a>

                </div>

                <span class="copyright">&copy;{{ langSwitch('footer_copyright') }}</span>
            </div>
        </div>

        <div class="footer-img"> </div>

    </footer>
</div>

    <!-- Bootstrap core JavaScript -->
    <script src='js/jquery.min.js'></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/script.js"></script>
    <script src="js/dictionary.js"></script>
</body>
</html>
